p {
    color: rgb(58, 43, 226);

    align-content: center;
}

body {
    margin: 20;
    /* width: 80%;*/

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}