<!--<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: rgb(242, 240, 255);">About Us</h1>
        <div class="d-flex">
            <button routerLink="/home" class="btn btn-danger mx-2">Logout</button>
        </div>
    </div>
</nav>
<br/>-->

<body>
    <p>

        The Immediate Joiner Club is a platform designed to connect recruiters with candidates who can join a new job
        immediately or within a very short notice period, typically 15 days or less than.
    </p>
    <p>

        For Candidates: If you're actively looking for a job and can join immediately, you can register on the Immediate
        Joiner Club website1
        Once registered, you can upload your resume and apply for job postings that match your profile1
    </p>

</body>