.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    background: rgb(228, 235, 241);
    background:white;
    /* background: linear-gradient(90deg, rgb(117, 123, 223) 0%, rgb(152, 154, 238)50%, rgb(173, 175, 234)100%, rgb(221, 221, 234)); */
    align-items: center;
    display: flex
}
.container{
    
    max-width: 100px;
    margin:auto;

  
}